<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

<!--    android:icon="@mipmap/ic_launcher"-->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/soybeangyan_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoybeanGyan"
        tools:targetApi="31">
        <activity
            android:name=".AdityaKaseraMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.read.activities.PDFViewerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.PDFActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.RohitDekateReadActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.TableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.SoybeanVarietiesTableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.SowingTimeTableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.SeedRateTableActivity"
            android:exported="false" />
        <activity
            android:name=".pages.AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".pages.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".pages.ImportantLinksActivity"
            android:exported="false" />
        <activity
            android:name=".pages.AdviceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.HelloActivity"
            android:exported="false" />
        <activity
            android:name=".ui.prediction.PredictionDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".DetectionMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".ui.read.fragments.FarmMachineryActivityForFragments"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.SoyFoodRecipiesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.TypesOfWeedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.WeedManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.fragments.InsectManagementActivityForFragments"
            android:exported="false" />
        <activity
            android:name=".ui.read.fragments.DiseaseManagementActivityForFragments"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.CropManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.DiseaseManagementActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.ContentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.read.activities.ReadMainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>